.uv {

    #debug {

        #lg {

            .lg-mediaquery({
                display: block !important;
            });

        }
    }

    .lg-mediaquery({
        .headerPanel {
            display: block;
            visibility: visible;
        }
    });

    .mainPanel {
        .lg-mediaquery({
            .leftPanel {
                display: block;
                visibility: visible;
            }
            .leftPanel.searchLeftPanel {
                .only-desktop();
            }
        });
    }
}