.uv {

    #debug {

        #md {
            .md-mediaquery({
                display: block !important;
                visibility: visible !important;
            });
        }

    }

    .md-mediaquery({
        .headerPanel {
            display: block;
            visibility: visible;
        }
    });
}