.uv {

    #debug {

        #md {
            .md-mediaquery({
                display: block !important;
                visibility: visible !important;
            });
        }

    }

    .md-mediaquery({
        .headerPanel {
            display: block;
            visibility: visible;
        }
    });

    .mainPanel {
        .md-mediaquery({
            .leftPanel {
                display: block;
                visibility: visible;
            }
            .leftPanel.searchLeftPanel {
                .only-desktop();
            }
        });
    }
}