.uv {
    #debug {
        #xl {
            .xl-mediaquery({
                display: block !important;
                visibility: visible !important;
            });
        }
    }

        .xl-mediaquery({
            .headerPanel {
                display: block;
                visibility: visible;
            }
        });

        .mainPanel {
            .leftPanel {
                .only-desktop();
            }

            .rightPanel {
                .only-desktop();
            }
        }

        .footerPanel {
            .only-desktop();
        }

        .mobileFooterPanel {
            .only-mobile();
        }
}
