@import "@iiif/iiif-metadata-component/dist-css/styles.less";

.uv {
  .leftPanel {
    .top {
      .title {
        text-transform: uppercase;
      }
    }

    .content {
      padding: @padding-medium;
    }

    .main {
      overflow: auto;
      color: @text-color;

      &.loading {
        .loading(@loader-black-bg);
      }

      .noData {
        padding: 0 @padding-medium-horizontal (@padding-medium-vertical * 2) @padding-medium-horizontal;
      }

      .groups {
        padding: @padding-medium-vertical @padding-medium-horizontal (@padding-medium-vertical * 2) @padding-medium-horizontal;

        .group {
          .header {
            text-transform: uppercase;
          }
        }

        .items {
          .header {
            font-size: @font-size-small;
            text-transform: uppercase;
          }

          .item {
            .header {
              font-size: @font-size-small;
              text-transform: uppercase;
            }

            .value {
              color: @text-color;
            }
          }
        }

        [data-uv-navigate] {
          color: @link-secondary-color;
          cursor: pointer;

          &:hover {
            text-decoration: underline;
            color: @link-secondary-hover-color;
          }
        }
      }

      .search {
        position: relative;
        background-color: @panel-dark-bg;
        height: 32px;
        margin: 0 10px 0 10px;

        .searchTextContainer {
          background: #fff;
          float: left;
          width: 100%;
          position: relative;
          display: flex;
          align-items: flex-end;

          .autocomplete {
            position: absolute;
            background: #fff;
            width: 270px;
            border: 2px solid @brand-primary-lighter;
            list-style-type: none;
            -webkit-margin-before: 0px;
            -webkit-margin-after: 0px;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            -webkit-padding-start: 0px;
            margin: 0;
            padding: 0;
            max-height: 300px;
            overflow-y: auto;
            overflow-x: hidden;

            .result {
              padding: 4px;
              width: 270px;
              overflow: hidden;

              &.loading {
                background-image: data-uri(@loader-white-bg);
                background-repeat: no-repeat;
                background-position: 4px 4px;
                height: 25px;
              }

              &.selected {
                background: @gray-lighter;
              }
            }
          }

          .searchText {
            position: relative;
            font-size: 12px;
            margin-left: 4px;
            height: 22px;
            padding: 0;
            border: none;
            display: flex;
            flex: 1;
            color: black;

            &.searching {
              background: data-uri("../img/spinner.gif");
              background-repeat: no-repeat;
              background-position: right 2px;
            }
          }

          .searchText:focus {
            outline: none;
            border: none;
            box-shadow: none;
          }

          .clearButton {
            top: 3px;
            right: 0;
            display: flex;
            position: relative;
            width: 22px;
            height: 22px;
            font-size: 0;
          }

          .clearButton::before,
          .clearButton::after {
            position: absolute;
            top: 8px;
            left: 10px;
            width: 2px;
            height: 14px;
            background-color: @gray-light;
            transform: rotate(45deg) translate(-50%, -50%);
            transform-origin: top left;
            content: '';
          }

          .clearButton::after {
            transform: rotate(-45deg) translate(-50%, -50%);
          }

          .imageButton.searchButton {
            top: 3px;
            right: 0;
            display: flex;
            position: relative;
            width: 22px;
            height: 22px;
            font-size: 0;
          }

          .imageButton.searchButton::before {
            border-top: 2px solid @gray-light;
            position: absolute;
            top: 11px;
            left: 11px;
            width: 3px;
            height: 5px;
            background-color: @gray-light;
            transform: rotate(-45deg);
            transform-origin: top left;
            content: '';
          }

          .imageButton.searchButton::after {
            content: '';
            position: absolute;
            width: 10px;
            height: 10px;
            border: 2px solid @gray-light;
            border-radius: 50%;
            background: rgba(#000, 0);
            left: 4px;
            top: 2px;
          }
        }
      }

    }
  }
}